@charset "utf-8";
/* CSS Document */

body {
	text-align:center;
	width:100%;
}

#badgeHeader {
	margin-top:-8px;
}

div#badgeTitle legend {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #534741;
	padding:15px;
}