@charset "utf-8";
/* CSS Document */

body {
	text-align:center;
}

#profilHeader {
	margin-top:-8px;
}

div#tabGroup {
	margin: 0 auto 0 auto;
}

div#mulaiOr {
	background-color:#333333;
	width:90%;
	border-radius:5px;
	text-align:center;
	margin: 10px auto auto auto;
}

div legend {
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:10px;
	text-align:center;
	margin: auto auto auto auto;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}
