@charset "utf-8";
/* CSS Document */
body {
	background-color:#333333;
	text-align:center;
	width:100%;
}

div#logoLari {
	margin-top:50px;
	margin-bottom:50px;
}

div#buttonGroup {
	margin-top:20px;
}